/* Write your CSS code here */
.registration-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-title {
  font-size: 48px;
  color: #ea580c;
  font-weight: 500;
}
.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 50px;
  border-radius: 16px;
  min-height: 350px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}
.input-label {
  font-family: roboto;
  font-weight: bold;
  font-size: 12px;
  color: #475569;
  margin-bottom: 10px;
}
.name-input {
  font-weight: 500;
  font-size: 16px;
  color: #9aa5b1;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  margin: 5px;
  padding: 4px 10px;
  outline: none;
}
.error-msg {
  border: 1px solid #ff0b37;
  background-color: #fef2f4;
}
.error {
  align-self: start;
  font-size: 12px;
  padding: 5px;
  font-family: roboto;
  color: #ff0b37;
}
.submit-btn {
  font-family: roboto;
  font-size: 12px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 4px 10px;
  outline: none;
  cursor: pointer;
  background-color: #ea580c;
}
.succ-img {
  width: 60px;
}
@media screen and (max-width: 767px) {
  .registration-form-container {
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
  }
  .form-title {
    font-size: 36px;
  }
  .registration-form {
    width: 250px;
    flex-shrink: 1px;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    padding: 20px;
  }
  .submit-btn {
    width: 40%;
  }
  .form-container {
    height: 350px;
  }
}
